<h4>Angular Providers</h4>
<div>
    <p>
        <label>Injected by providers array: </label>
        <span>{{ welcomeMessage }}</span>
    </p>

    <p>
        <label>Injected by providers array: </label>
        <span>{{ realProducts | async }}</span>
    </p>

    <p>
        <label>Injected by providers array: </label>
        <span>{{ products | async }}</span>
    </p>

    <p>
        <label>Injected URL using InjectionToken: </label>
        <span>{{ injectedUrl }}</span>
    </p>

    <p>
        <label>Injected with @Self: </label>
        <span>{{ temp }}</span>
    </p>

    <p>
        <label>Injected with @Optional and @Self: </label>
        <span>{{ cities }}</span>
    </p>

    <p>
        <label>Injected with @Host: </label>
        <span>{{ isCityValid }}</span>
    </p>
</div>