<h4>HTTP Client</h4>

<input type="text" [value]="username" (input)="username=$any($event.target).value">
<button (click)="loadRepos()">Load Repos</button>
<span style="font-size: 12px"> Type 'mock' to get mocked data from HTTP interceptor</span>

<div *ngIf="loading">Loading...</div>

<div *ngIf="errorMessage">
    <strong>Error!</strong> {{ errorMessage | json }}
</div>

<table>
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>LOGIN</th>
    </thead>
    <tbody>
        <tr *ngFor="let repo of (repos$ | async)">
            <td>{{ repo.id }}</td>
            <td>{{ repo.name }}</td>
            <td>{{ repo.owner.login }}</td>
            <td>
                <img src="{{ repo.owner.avatar_url }}" class="icon">
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="person.name" />
    </div>
    <div>
      <button (click)="addPerson()">Add</button>
    </div>
</div>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of (people$ | async);">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
      </tr>
    </tbody>
  </table>