<div>
    <span>component itself appears after some delay. That is because it waits for the resolver to finish. The Component renders along with the data.</span>
     <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products;">
                        <td>
                            <a [routerLink]="['/product/view',product.id]">{{product.name}}</a>
                        </td>
                        <td>{{product.price}}</td>
                        <td>
                            <a [routerLink]="['/product/view',product.id]">View</a>
                        </td>
                        <td>
                            <a [routerLink]="['/product/edit',product.id]">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

<router-outlet></router-outlet>