<h3>Interpolation</h3>

<div>Ordinary interpolation: {{ firstName }} {{ lastName }}</div>
<div>Interpolation as a function: {{ fullName() }}</div>

<div>Enter your name
    <input (keyup)="0" #name>
</div>
<p>Welcome {{name.value}} </p>
<ul>
    <li *ngFor="let item of items">
        {{ item.name }}
    </li>
</ul>
<div ngNonBindable>Interpolation turned off: {{ fullName() }}</div>
<div>Interpolation with pipe: {{ fullName() | uppercase }}</div>
<div>Safe navigation operator (displays empty string if variable is null): {{ specificItem?.name }}</div>
<div>Non-null assertion (during compile time): {{ anotherSpecificItem!.name }}</div>

<h3>Property binding</h3>
<h5 [innerText]="fullName()" [style.color]="color"></h5>
<button [disabled]="isDisabled">Disabled</button>
<img [src]="catUrl" [width]="catWidth" [height]="catHeight">

<h3>Attribute binding</h3>
<button [attr.aria-label]="closeLabel" (click)="closeMe()">X</button>
<button [attr.aria-label]="closeLabel" on-click="closeMe()">Y</button>
<button [attr.aria-label]="closeLabel" (click)="closeMe() ; closeMeAgain()">Z</button><br>

<h3>Event binding</h3>
<p>{{ inputValue }}</p>
<div>Event payload: <input (input)="doSomething($event)"></div>
<div>'change' event (hit Enter or move focus away): <input type="text" (change)="handleChange($event)"></div>
<div>Using template reference variable: <input #el (input)="doSomethingElse(el)"></div>
<div>keyup event: <input (keyup)="inputValue= $any($event.target).value"></div>
<div>Listen for 'Enter' key event: <input (keyup.enter)="inputValue=$any($event.target).value"></div>
<div>Enter variable with 'Enter', clear it with 'Esc: '<input (keyup.enter)="inputValue=$any($event.target).value" (keyup.escape)="$any($event.target).value='';inputValue=''"></div>

<h3>Two way binding</h3>
<div>
    <div style="display: inline-block; margin-right: 30px;">Using Property binding + Event binding: </div>
    <div style="display: inline-block; margin-bottom: 30px;">
        <input type='text' [value]="name2" (input)="name2=$any($event.target).value">
    <p><b>Name:</b> {{ name2 }}</p>
    <button (click)="clearName()">Clear</button>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using ngModel from FormsModule: </div>
    <div style="display: inline-block;">
        <input type="text" [(ngModel)]="name3">
        <p><b>Name:</b> {{ name3 }}</p>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using custom two-way binding</div>
    <div style="display: inline-block;">
        <app-counter [(count)]="count"></app-counter>
        <p>Count: {{ count }}</p>
    </div>
</div>

<div>
    Using ViewChild: <button (click)="callMethodFromChild()">Increment</button>
</div>

<div>Angular Change Event: <input type="text" ngModel (ngModelChange)="nameChanged($event)"></div>

<h3>Components</h3>

<div>Nested components with ngFor Structural Directive:
    <div>
        <app-customer-list></app-customer-list>
    </div>
</div>

<h3>Directives</h3>

<div>ngSwitch Structural Directive:
    <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <div [ngSwitch]="number">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchDefault>Something different than 1 or 2 is entered above</div>
        <div *ngSwitchDefault>Maybe consider entering 1 or 2</div>
    </div>
</div>
<div>ngSwitch Structural Directive with ng-template and ng-container:<br>
    (Note ng-container is removed from the DOM
    <div>
        <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <ng-container [ngSwitch]="number">
        <ng-container *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="template1; context: { message: 'Value passed to template!' }"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="template2; context: { customer: customer }"></ng-container>
        </ng-container>
        <ng-template #template1 let-message="message">{{ message }}</ng-template>
        <ng-template #template2 let-customer="customer">Customer {{ customer.name }} is living in {{ customer.city }}</ng-template>
        <ng-container *ngSwitchDefault>Please provide a number 1 or 2</ng-container>
    </ng-container>
    </div>
</div>
<br>

<div>ngIf/else Structural Directive
    <input type="checkbox" [checked]="ngIfCondition" (input)="ngIfCondition=$any($event.target).checked">
    <div *ngIf='ngIfCondition; else elseBlock'>This is displayed when above checkbox is checked</div>
    <ng-template #elseBlock>
        <div>Above checkbox is not checked</div>
    </ng-template>
</div>

<div>ngIf/then/else Structural Directive
    <input type="checkbox" [checked]="ngIfCondition" (input)="ngIfCondition=$any($event.target).checked">
    <div *ngIf='ngIfCondition; then thenBlock else elseBlock'>This is not shown</div>
    <ng-template #thenBlock>
        <div>Above checkbox is checked</div>
    </ng-template>
    <ng-template #elseBlock>
        <div>Above checkbox is not checked</div>
    </ng-template>
</div>

<div>ngClass Attribute Directive:
    <div [ngClass]="'bigText'">This text should be big!</div>
    <div [ngClass]="['bigText','blueText']">This text should be big and blue!</div>
    <div [ngClass]="{'bigText':false,'blueText':true}">This text should be blue!</div>
    <div [ngClass]="cssObject">This text should be big and blue!</div>
</div>

<div>ngStyle Attribute Directive:
    <label [ngStyle]="{'color': 'blue', 'font-weight': 'bold'}">styled text!</label>
    <div>
        <input type="text" (input)="styleExample=$any($event.target).value" [value]="styleExample" placeholder="Type color"/>
        <input type="number" (input)="fontSize=$any($event.target).value" [value]="fontSize" placeholder="Font size"/>
    </div>
    
    <div [ngStyle]="{'color': styleExample, 'font-size.px': fontSize}">This text is coloured with above color! And has {{ fontSize }} pixels size!</div>
    <div [ngStyle]="styleClass">This is styled with StyleClass</div>
</div>

<h3>Custom Directives</h3>
<button [addClass]="'blue'">Blue button</button>

<div>
    <span>Click this button</span>
    <input type="checkbox" [checked]="customIf" (input)="customIf=$any($event.target).checked">
    <div *customIf="customIf">
        Show me!
    </div>
    <div *ngIf="customIf">
        Show me!
    </div>
</div>

<div>
    <button customTooltip toolTip="This tooltip should probably tell something useful">Custom Tooltip</button>
</div>

<div>
    <button customToggle>Click to toggle</button>
</div>

<h3>Pipes</h3>

<div>
    <p>Unformatted date: {{ toDate }}</p>
    <p>Formatted date with uppercase chaining: {{ toDate | date:'dd MMMM yyyy' | uppercase }}</p>
    <p>Date in USA: {{ toDate | date:'short':'CDT' }}</p>
    <p>British date time: {{ toDate | date:'dd/MM/yy HH:mm':'GMT':'en_GB' }}</p>
    <p>Slice pipe: {{ name3 | slice:0:name3.length-2 }}</p>
    <p>Decimal/number pipe: {{ decimalNumber | number:'5.1-4' }}</p>
    <p>Percent pipe: {{ percentNumber | percent:'1.2-2' }}</p>
    <p>Currency pipe: {{ decimalNumber | currency:'PLN':true:'5.1-8' }}</p>
</div>

<div>
    <p> Fahrenheit: <input type="text" [value]="fahrenheit" (input)="fahrenheit=$any($event.target).value">
        = Celsius: {{ fahrenheit | tempConverter:'C' }}</p>
    <p> Celsius: <input type="text" [value]="celsius" (input)="celsius=$any($event.target).value">
        = Fahrenheit: {{ celsius | tempConverter:'F' }}</p>
</div>

<div>
    <p><b>Async pipe</b></p>
    <div *ngIf="(obsValue | async) as result; else elseAsyncBlock">
        {{ result }}
    </div>

    <ng-template #elseAsyncBlock>
        Please wait!
    </ng-template>

    <div>
        <p>Async pipe with ngIf and ngFor: </p>
        <ul *ngIf="(hounds | async) as breeds; else elseAsyncBlock">
            <li *ngFor="let breed of breeds.message">
                {{ breed }}
                <img src="{{ (randomImage | async )?.message }}" [width]="catWidth" [height]="catHeight">
            </li>
        </ul>
    </div>
</div>

<div>
    <p><b>keyvalue pipe</b></p>
    <p>Transforms object or map into an array of key-value pairs</p>
    <ul>
        <li *ngFor="let item of keyValueObject | keyvalue : orderByKeyDesc">
            {{ item.key }} --> {{ item.value }}
        </li>
    </ul>
</div>

<div>
    <p><b>Pipe used inside component class</b></p>
    <p>Today: {{ today }}</p>
</div>

<h3>Component Communication</h3>
<div>Child component:<app-counter #counter></app-counter></div>
<p>Parent component local variable: {{ counter.count }}</p>

<h3>Lifecycle hooks</h3>

<div>
    <b>ngOnChanges</b> - Look at counter.component.ts
    <b>ngOnInit</b><app-init-hook><div>This is injected content!</div></app-init-hook>
    <b>ngOnDestroy</b>
    <button (click)="toggleChildDisplay()">Hide/Show Child</button>
    <app-init-hook *ngIf="hideShow"><p>Another <b>fancy</b> injected content</p></app-init-hook>
</div>

<h3>Content projection</h3>
<div>
    <app-card>
        <ng-container ngProjectAs=".header">
            <div>
                <h1 style="color:blue;">Angular</h1>
            </div>
          </ng-container>
          <div class="content">One framework. Mobile & desktop.</div>
          <div class="footer"><b>Super-powered by Google </b></div>
    </app-card>
    
    <app-card>
        <div class="header">
          <h1 style="color:red;">React</h1>
        </div>
        <div class="content">A JavaScript library for building user interfaces</div>
        <div class="footer"><b>Facebook Open Source </b></div>
    </app-card>
</div>

<h3>Template Variable Reference</h3>

<div>
    <div>
        <label>First Name</label>
        <input type="text" #firstName>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" #lastName>
    </div>
    <button (click)="sayHello(firstName, lastName)">Say hello!</button>
</div>

<h3>Templates</h3>
<div>
    <ng-template #parentTemp>
        <p>This is a template from parent!</p>
    </ng-template>
    <app-child-template [customTemplate]="parentTemp"></app-child-template>
</div>

<h3>HostBinding and HostListener</h3>
<div>
    <button style="width: 100px; height: 40px" appHighlight>Button</button>
</div>

<h3>ViewChild</h3>

<div>
    <button #heyButton>Hey!</button>
    <input #heyInput [ngModel]="name3"/>
</div>

<h3>View Children</h3>
<button (click)="showHideCounter()">Show/Hide counter</button>
<ng-container *ngIf="showCounter">
    <app-counter></app-counter>
</ng-container>
<div>
    <button (click)="show()">Log in console</button>
</div>

<h3>Renderer2</h3>
<div #rendererDiv>
    <label #example></label>
    <div>
        <button (click)="removeBackgroundColor()">Remove label color</button>
        <button (click)="addBackgroundColor()">Add label color</button>
        <button (click)="removeBoxClass()">Remove boxing</button>
        <button (click)="addBoxClass()">Add boxing</button>
        <button (click)="addStyleAttribute()">Add style</button>
        <button (click)="removeStyleAttribute()">Remove style</button>
        <button (click)="addText()">Add text</button>
        <button (click)="appendNewDiv()">Append new div</button>
        <button (click)="insertNewDivBeforeLabel()">Insert div before label</button>
        <button (click)="createComment()">Create comment</button>
        <button (click)="addDivBoxing()">Add div boxing</button>
        <button (click)="addButtonsBoxing()">Add buttons boxing</button>
        <button (click)="removeAll()">Remove all</button>
        <button (click)="appendByRootElement()">Append by root</button>
        <button #clickListen>Append by listener</button>
    </div>
</div>

<h3>ContentChild & ContentChildren</h3>
<p>ViewChild or ViewChildren can access DOM element, component, directivve but cannot be used to access projected content. ContentChild and ContentChildren can be used instead, but it cannot access any other content.</p>
<div>
    <app-card-list></app-card-list>
</div>

<h3>Shadow DOM</h3>
<div>
    <p>The parent and sibling styles still affect the component. but that is angular’s implementation of shadow dom</p>
    <app-shadow-dom-component></app-shadow-dom-component>
</div>

<h3>Styles</h3>
<div>
    <div>
        <button (click)="toggleStyle()">Toggle</button>
    <label [style.color]="colorBlue ? 'blue' : 'black'">This text is conditionally styled</label>
    </div>
    <div>
        using ClassName: <label [className]="'blueText bigText'">Styled text</label>
    </div>
    <div>
        using booleans: <label [class.blueText]="true" [class.bigText]="false">Another styled text</label>
    </div>
</div>

<h3>Routing</h3>
<div>
    <ul>
        <li><a [routerLink]="['/subpage1']" routerLinkActive="router-link-active">Subpage1</a></li>
        <li><a [routerLink]="['/subpage2']" routerLinkActive="router-link-active">Subpage2</a></li>
    </ul>

    <div class="container">
 
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" [routerLink]="['/']"><strong> {{title}} </strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['home']">Home</a></li>
                <li><input type="text" placeholder="Number of products" (input)="numberOfProducts=$any($event.target).value"><a [routerLink]="['product']" [queryParams]="{ numberOfProducts: numberOfProducts }">Product</a></li>
                <li><a [routerLink]="['contact']">Contact us</a></li>
            </ul>
          </div>
        </nav>
         
         <router-outlet></router-outlet>
         
        </div>
</div>

<h3>RXJS</h3>
<div>
    <button #btn>Click</button>
    <button (click)="getDogsBreed()">Log dog breeds</button>
    <button (click)="startObservable()">Start observable</button>
    <button (click)="stopObservable()">Stop observable</button>
    <div>
        <p><b>debounceTime:</b></p>
        <form [formGroup]="form">Name: <input formControlName="name"></form>
        <p><b>debounce:</b></p>
        <form [formGroup]="form2">Name: <input formControlName="name"></form>
    </div>
</div>

<h3>Sharing data between components</h3>
<div>
    <app-todo-list></app-todo-list>
    <app-todo-add></app-todo-add>
</div>

<h3>Angular Forms</h3>
<div>
    <app-template-driven-form></app-template-driven-form>
    <app-reactive-form></app-reactive-form>
    <app-skills-form></app-skills-form>
    <app-employee-form></app-employee-form>
    <app-contact-form></app-contact-form>
    <app-password-form></app-password-form>
    <app-dynamic-validators></app-dynamic-validators>
</div>

<h3>Services & DI</h3>
<div>
    <app-products></app-products>
    <app-providers-example></app-providers-example>
</div>

<h3>HTTP</h3>
<div>
    <app-http-client-example></app-http-client-example>
</div>