<h3>Interpolation</h3>

<div>Ordinary interpolation: {{ firstName }} {{ lastName }}</div>
<div>Interpolation as a function: {{ title() }}</div>

<div>Enter your name
    <input (keyup)="0" #name>
</div>
<p>Welcome {{name.value}} </p>
<ul>
    <li *ngFor="let item of items">
        {{ item.name }}
    </li>
</ul>
<div ngNonBindable>Interpolation turned off: {{ title() }}</div>
<div>Interpolation with pipe: {{ title() | uppercase }}</div>
<div>Safe navigation operator (displays empty string if variable is null): {{ specificItem?.name }}</div>
<div>Non-null assertion (during compile time): {{ anotherSpecificItem!.name }}</div>

<h3>Property binding</h3>
<h5 [innerText]="title()" [style.color]="color"></h5>
<button [disabled]="isDisabled">Disabled</button>
<img [src]="catUrl" [width]="catWidth" [height]="catHeight">

<h3>Attribute binding</h3>
<button [attr.aria-label]="closeLabel" (click)="closeMe()">X</button>
<button [attr.aria-label]="closeLabel" on-click="closeMe()">Y</button>
<button [attr.aria-label]="closeLabel" (click)="closeMe() ; closeMeAgain()">Z</button><br>

<h3>Event binding</h3>
<p>{{ inputValue }}</p>
<div>Event payload: <input (input)="doSomething($event)"></div>
<div>'change' event (hit Enter or move focus away): <input type="text" (change)="handleChange($event)"></div>
<div>Using template reference variable: <input #el (input)="doSomethingElse(el)"></div>
<div>keyup event: <input (keyup)="inputValue= $any($event.target).value"></div>
<div>Listen for 'Enter' key event: <input (keyup.enter)="inputValue=$any($event.target).value"></div>
<div>Enter variable with 'Enter', clear it with 'Esc: '<input (keyup.enter)="inputValue=$any($event.target).value" (keyup.escape)="$any($event.target).value='';inputValue=''"></div>

<h3>Two way binding</h3>
<div>
    <div style="display: inline-block; margin-right: 30px;">Using Property binding + Event binding: </div>
    <div style="display: inline-block; margin-bottom: 30px;">
        <input type='text' [value]="name2" (input)="name2=$any($event.target).value">
    <p><b>Name:</b> {{ name2 }}</p>
    <button (click)="clearName()">Clear</button>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using ngModel from FormsModule: </div>
    <div style="display: inline-block;">
        <input type="text" [(ngModel)]="name3">
        <p><b>Name:</b> {{ name3 }}</p>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using custom two-way binding</div>
    <div style="display: inline-block;">
        <app-counter [(count)]="count"></app-counter>
        <p>Count: {{ count }}</p>
    </div>
</div>

<div>Angular Change Event: <input type="text" ngModel (ngModelChange)="nameChanged($event)"></div>

<h3>Components</h3>

<div>Nested components with ngFor Structural Directive:
    <div>
        <app-customer-list></app-customer-list>
    </div>
</div>

<h3>Directives</h3>

<div>ngSwitch Structural Directive:
    <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <div [ngSwitch]="number">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchDefault>Something different than 1 or 2 is entered above</div>
        <div *ngSwitchDefault>Maybe consider entering 1 or 2</div>
    </div>
</div>
<div>ngSwitch Structural Directive with ng-template:
    <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <ng-container [ngSwitch]="number">
        <ng-container *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="template1"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="template2"></ng-container>
        </ng-container>
        <ng-template #template1>The number is 1</ng-template>
        <ng-template #template2>The number is 2</ng-template>
        <ng-container *ngSwitchDefault>Please provide a number 1 or 2</ng-container>
    </ng-container>
</div>
<br>

<div>ngIf/else Structural Directive
    <input type="checkbox" [checked]="ngIfCondition" (input)="ngIfCondition=$any($event.target).checked">
    <div *ngIf='ngIfCondition; else elseBlock'>This is displayed when above checkbox is checked</div>
    <ng-template #elseBlock>
        <div>Above checkbox is not checked</div>
    </ng-template>
</div>

<div>ngIf/then/else Structural Directive
    <input type="checkbox" [checked]="ngIfCondition" (input)="ngIfCondition=$any($event.target).checked">
    <div *ngIf='ngIfCondition; then thenBlock else elseBlock'>This is not shown</div>
    <ng-template #thenBlock>
        <div>Above checkbox is checked</div>
    </ng-template>
    <ng-template #elseBlock>
        <div>Above checkbox is not checked</div>
    </ng-template>
</div>

<div>ngClass Attribute Directive:
    <div [ngClass]="'bigText'">This text should be big!</div>
    <div [ngClass]="['bigText','blueText']">This text should be big and blue!</div>
    <div [ngClass]="{'bigText':false,'blueText':true}">This text should be blue!</div>
    <div [ngClass]="cssObject">This text should be big and blue!</div>
</div>

<div>ngStyle Attribute Directive:
    <label [ngStyle]="{'color': 'blue', 'font-weight': 'bold'}">styled text!</label>
    <div>
        <input type="text" (input)="styleExample=$any($event.target).value" [value]="styleExample" placeholder="Type color"/>
        <input type="number" (input)="fontSize=$any($event.target).value" [value]="fontSize" placeholder="Font size"/>
    </div>
    
    <div [ngStyle]="{'color': styleExample, 'font-size.px': fontSize}">This text is coloured with above color! And has {{ fontSize }} pixels size!</div>
    <div [ngStyle]="styleClass">This is styled with StyleClass</div>
</div>

<h3>Custom Directives</h3>
<button [addClass]="'blue'">Blue button</button>

<div>
    <span>Click this button</span>
    <input type="checkbox" [checked]="customIf" (input)="customIf=$any($event.target).checked">
    <div *customIf="customIf">
        Show me!
    </div>
    <div *ngIf="customIf">
        Show me!
    </div>
</div>

<div>
    <button customTooltip toolTip="This tooltip should probably tell something useful">Custom Tooltip</button>
</div>

<div>
    <button customToggle>Click to toggle</button>
</div>

<h3>Pipes</h3>

<div>
    <p>Unformatted date: {{ toDate }}</p>
    <p>Formatted date with uppercase chaining: {{ toDate | date:'dd MMMM yyyy' | uppercase }}</p>
    <p>Slice pipe: {{ name3 | slice:0:name3.length-2 }}</p>
    <p>Decimal/number pipe: {{ decimalNumber | number:'5.1-4' }}</p>
    <p>Percent pipe: {{ percentNumber | percent:'1.2-2' }}</p>
    <p>Currency pipe: {{ decimalNumber | currency:'PLN':true:'5.1-8' }}</p>
</div>

<div>
    
    <p> Fahrenheit: <input type="text" [value]="fahrenheit" (input)="fahrenheit=$any($event.target).value">
        = Celsius: {{ fahrenheit | tempConverter:'C' }}</p>
    <p> Celsius: <input type="text" [value]="celsius" (input)="celsius=$any($event.target).value">
        = Fahrenheit: {{ celsius | tempConverter:'F' }}</p>
</div>