<h3>Interpolation</h3>

<div>Ordinary interpolation: {{ firstName }} {{ lastName }}</div>
<div>Interpolation as a function: {{ title() }}</div>

<div>Enter your name
    <input (keyup)="0" #name>
</div>
<p>Welcome {{name.value}} </p>
<ul>
    <li *ngFor="let item of items">
        {{ item.name }}
    </li>
</ul>
<div ngNonBindable>Interpolation turned off: {{ title() }}</div>
<div>Interpolation with pipe: {{ title() | uppercase }}</div>
<div>Safe navigation operator (displays empty string if variable is null): {{ specificItem?.name }}</div>
<div>Non-null assertion (during compile time): {{ anotherSpecificItem!.name }}</div>

<h3>Property binding</h3>
<h5 [innerText]="title()" [style.color]="color"></h5>
<button [disabled]="isDisabled">Disabled</button>
<img [src]="catUrl" [width]="catWidth" [height]="catHeight">

<h3>Attribute binding</h3>
<button [attr.aria-label]="closeLabel" (click)="closeMe()">X</button>
<button [attr.aria-label]="closeLabel" on-click="closeMe()">Y</button>
<button [attr.aria-label]="closeLabel" (click)="closeMe() ; closeMeAgain()">Z</button><br>

<h3>Event binding</h3>
<p>{{ inputValue }}</p>
<div>Event payload: <input (input)="doSomething($event)"></div>
<div>'change' event (hit Enter or move focus away): <input type="text" (change)="handleChange($event)"></div>
<div>Using template reference variable: <input #el (input)="doSomethingElse(el)"></div>
<div>keyup event: <input (keyup)="inputValue= $any($event.target).value"></div>
<div>Listen for 'Enter' key event: <input (keyup.enter)="inputValue=$any($event.target).value"></div>
<div>Enter variable with 'Enter', clear it with 'Esc: '<input (keyup.enter)="inputValue=$any($event.target).value" (keyup.escape)="$any($event.target).value='';inputValue=''"></div>

<h3>Two way binding</h3>
<div>
    <div style="display: inline-block; margin-right: 30px;">Using Property binding + Event binding: </div>
    <div style="display: inline-block; margin-bottom: 30px;">
        <input type='text' [value]="name2" (input)="name2=$any($event.target).value">
    <p><b>Name:</b> {{ name2 }}</p>
    <button (click)="clearName()">Clear</button>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using ngModel from FormsModule: </div>
    <div style="display: inline-block;">
        <input type="text" [(ngModel)]="name3">
        <p><b>Name:</b> {{ name3 }}</p>
    </div>
</div>

<div>
    <div style="display: inline-block; margin-right: 30px;">Using custom two-way binding</div>
    <div style="display: inline-block;">
        <app-counter [(count)]="count"></app-counter>
        <p>Count: {{ count }}</p>
    </div>
</div>

<div>Angular Change Event: <input type="text" ngModel (ngModelChange)="nameChanged($event)"></div>

<h3>Components</h3>

<div>Nested components with ngFor Structural Directive:
    <div>
        <app-customer-list></app-customer-list>
    </div>
</div>

<h3>Directives</h3>

<div>ngSwitch Structural Directive:
    <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <div [ngSwitch]="number">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchDefault>Something different than 1 or 2 is entered above</div>
        <div *ngSwitchDefault>Maybe consider entering 1 or 2</div>
    </div>
</div>
<div>ngSwitch Structural Directive with ng-template:
    <input style="width:min-content;" type="text" [value]="number" (input)="number=$any($event.target).value" placeholder="Enter number '1' or '2'">
    <ng-container [ngSwitch]="number">
        <ng-container *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="template1"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="template2"></ng-container>
        </ng-container>
        <ng-template #template1>The number is 1</ng-template>
        <ng-template #template2>The number is 2</ng-template>
        <ng-container *ngSwitchDefault>Please provide a number 1 or 2</ng-container>
    </ng-container>
</div>
<br>

<div>ngIf Structural Directive
    <input type="checkbox" [checked]="ngIfCondition" (input)="ngIfCondition=$any($event.target).checked">
    <div *ngIf='ngIfCondition'>This is displayed depending if above checkbox is checked</div>
</div>

<div>ngClass Attribute Directive:
    <label [ngClass]="'big-text'">This text should be big!</label>
</div>

<div>ngStyle Attribute Directive:
    <label [ngStyle]="{'color': 'blue', 'font-weight': 'bold'}">styled text!</label>
</div>
